Bot_token = token
Bot_admin_ids = 1


Questions_chat_id = 0
Questions_comment_id = 0
Problems_chat_id = 0
Problems_comment_id = 0
Suggestions_chat_id = 0
Suggestions_comment_id = 0


Db_user = postgres
Db_password = password
Db_address = bmstu-direct-db
Db_name = bmstu-direct

